body, html {
  height: 100%;
}


body {
  background: #17212B;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.42rem;
  margin: 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

button {
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border:none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

footer {
  position: relative;
  width: 100%;
}

input[type=text] {
  color: #7F91A4;
  background-color: #17212B;
  border-width: 0;
  
}

.hidden {
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: relative;
  background-color: #7F91A4;
}

.unauthorized {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #17212B;
  width: 450px;
  height: 500px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  
}

.auth__cover {
  margin-bottom: 20px;
}

.auth__title {
  margin-bottom: 20px;
}

.auth__text {
  margin-bottom: 40px;
  text-align: center;
  color: #7F91A4;
  font-size: 16px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__input {
  padding: 10px 10px;
  margin-bottom: 20px;
  width: 300px;
  border-bottom-width: 1px;
}

.auth__btn {
  padding: 13px 40px;
  background-color: #5188C1;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #17212B;
  color: #fff;
}
.head {
  height: 70px;
}


.left-col {
  width: 260px;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
}


.hamburger {
  cursor: pointer;
  height: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.hamburger__menu {
  display: flex; 
}

.hamburger__plank {
  display: block;
  background: #6C7982  ;
  width: 1.7rem;
  height: 4px;
  border-radius: 3px;  
  position: relative;
 
}

.hamburger__plank::before {
  content: "";
  background: #6C7982  ;
  width: 1.7rem;
  height: 4px;
  border-radius: 3px; 
  position: absolute;
  left: 0;
  display: block;
  top: -8px;
}

.hamburger__plank::after {
  content: "";
  background: #6C7982;
  width: 1.7rem;
  height: 4px;
  border-radius: 3px; 
  position: absolute;
  left: 0;
  display: block;
  top: 8px;
}

.right-col {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.head--right {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
}

.head__title {
  font-size: 14px;
}

.head__text {
  font-size: 12px;
  color: #7F91A4;
}

.chat-messages {
  height: 100%;
  width: 100%;
  background-color: #0E1621;
}

.messageForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageForm__input {
  padding: 20px 10px ;
  font-size: 14px;
  flex: 1;
}

.messageForm__btn {
  color: #FFFFFF;
  background-color: #5387C1;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 5px;
}



